.categories-list {
  float: left;
  display: block;
}

.categories-list::after {
  clear: both;
  display: block;
  content: '';
}

.header-container {
  margin-bottom: 20px;
}

.no-match {
  text-align: center
}

.no-match img{
  width: 200px;
  margin: 0 auto;
}

.avatar {
  margin-right: 25px;
}

.avatar.positive {
  background: rgb(78, 182, 130) !important;
}

.avatar.negative {
  background: rgb(182, 111, 78) !important;
}

.short-post-details .sub-controls {
  position: absolute;
  top: 5px;
  right: 5px;
}

.short-post-details .voter {
  position: static;
  display: inline-block;
}
.short-post-details .title-container {
  display: inline-block;
  width: 70%;
}

.voter {
  position: absolute;
  top: 5px;
  right: 5px;
}
.posts-navigation ul {
  padding: 0;
  margin: 0;
}
.posts-navigation li {
  float: left;
  margin-left: 10px;
  padding-right: 17px;
}

@media (max-width: 991px) { 
  .short-post-details .sub-controls {
    top: auto;
    bottom: 5px;
  }
  .short-post-details .title-container {
    width: 100%;
  }
}